<center><h1>Categories</h1>
<link href="/stylesheets/categories.css" rel="stylesheet">

{{#each category}}
        <a href="/categories/{{id}}">{{categoryTitle}}</a>
{{/each}}

<label>
    Category:
    <select name="category">
        
        {{#each category}}
        <p name= "id">{{id}}</p>
        <p> {{categoryTitle}}</p>
            <option value="{{id}}">{{categoryTitle}}</option>
        {{/each}}
    </select>

</label>

<label>
    {{#each category}}
    
    <h3><a href="/categories/{{id}}">{{categoryTitle}}</a></h3>
     {{/each}}

</label>

<a href="/"> Go Back </a>
</center>
