<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
{{!-- <p>{{age}} is kinda young as fuck<p> --}}

   <ul>
        {{#each reviews}}
        <li>
            Titles : <span>{{this.title}}</span>
            <span>{{content}}</span>
            <span>{{category}}</span>
            <span>{{rating}}</span>
            <span>{{tags}}</span>
        </li>
        {{/each}}
    </ul>

 
