<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


   <ul>
        {{#each reviews}}
        <li>
            Titles : <span>{{this.title}}</span>
            <span>{{content}}</span>
            <span>{{category}}</span>
            <span>{{rating}}</span>
            <span>{{tags}}</span>
        </li>
        {{/each}}
    </ul>

 <form action="/" method="POST">
        <label>Title: <input type="text" name="title" /></label>
        <label>Rating: <input type="text" name="rating" /></label>
        <label>Content: <input type="text" name="content" /></label>
        <label>Category: <input type="text" name="category" /></label>
        <label>Tags: <input type="text" name="tags" /></label>
        <button>Submit</button>
</form>
