 <p><a href="/reviews/new")>Add a new Review!</a></p>
 <ul>
        {{#each review}}
        <li>
            Titles : <span>{{title}}</span>
            <span>{{content}}</span>
            <span>{{category}}</span>
            <span>{{rating}}</span>
            <span>{{tags}}</span>
        </li>
        {{/each}}
</ul>