<center>
    <h1><a href="/reviews/new")>Add a New Review!</a></h1>
    
    <ul>
        {{#each review}}
        <li>
            <span>Titles : <span>{{title}}</span>
            <span>{{content}}</span>
            {{!-- <span>{{category}}</span> --}}
            <span>{{rating}}</span>
            {{!-- <span>{{tags}}</span> --}}
        </li>
        {{/each}}
    </ul>
</center>
