<div class="container">
    <h1>{{tag.tagTitle}}</h1>
        <article class="user-card">  
            <ul>
                {{#each tag.reviews}}
                <li>
            <span>Titles : <span>{{title}}</span>
            <span>{{content}}</span>
            {{!-- <span>{{category}}</span> --}}
            <span>{{rating}}</span>
            <span>{{createdAt}}</span>
            {{!-- <span>{{tags}}</span> --}}
        </li>
                {{/each}}
            </ul>
        </article>
</div>